<?xml version="1.0" encoding="UTF-8"?>
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-traceroute"
    version="1.0.0">
    <name>Traceroute</name>
    <description>Cordova Traceroute Plugin</description>
    <license>MIT</license>
    <keywords>cordova,Traceroute</keywords>
    <repo>https://github.com/navidmalekan/cordova-plugin-traceroute.git</repo>
    <issue>https://github.com/navidmalekan/cordova-plugin-traceroute/issues</issue>

    <js-module src="www/traceroute.js" name="traceroute">
      <clobbers target="Traceroute" />
    </js-module>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Traceroute">
          <param name="android-package" value="org.ppa.cordova.traceroute.Traceroute"/>
        </feature>
      </config-file>
      <source-file src="src/android/Traceroute.java" target-dir="src/org/ppa/cordova/traceroute"/>
    </platform>
  </plugin>
